<div class="post-list-container">
    <h2>Posts List</h2>
  
    <div *ngIf="loading" class="loading-message">Loading...</div>
  
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  
    <ul *ngIf="posts.length > 0">
      <li *ngFor="let post of posts">
        <div class="post-item">
          <div class="post-header">
            <span class="post-title">
              <a [routerLink]="['/post', post.id]">{{ post.title }}</a>
            </span>
            <span class="post-date">{{ post.date | date:'medium' }}</span>
          </div>
          <div class="post-meta">
            <span class="post-author">By {{ post.author }}</span>
            <span class="post-tags">
              Tags: <span *ngFor="let tag of post.tags; let i = index">
                {{ tag }}<span *ngIf="i < post.tags.length - 1">, </span>
              </span>
            </span>
          </div>
          <div class="post-content-preview">
            <p>{{ post.content | slice:0:100 }}...</p>
          </div>
          <div class="post-actions">
            <button (click)="editPost(post.id)" class="edit-button">Edit</button>
            <button (click)="deletePost(post.id)" class="delete-button">Delete</button>
          </div>
        </div>
      </li>
    </ul>
  
    <div *ngIf="posts.length === 0 && !loading">
      <p>No posts available. <a routerLink="/create-post">Create a new post</a></p>
    </div>
  
    <div class="create-post-button">
      <a routerLink="/create-post" class="create-post-link">+ Create New Post</a>
    </div>
  </div>
  