.bg-navy { background-color: #1E3A8A; }
.text-navy { color: #1E3A8A; }
.text-gold { color: #D4AF37; }
.focus\:ring-gold:focus { --tw-ring-color: #D4AF37; }
.focus\:border-gold:focus { border-color: #D4AF37; }


.menu-link {
    position: relative;
    display: inline-block;
    transition: transform 0.2s ease;
  }
  
  .menu-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FBBF24; 
    transition: width 0.3s ease-in-out;
  }
  
  .menu-link:hover::after {
    width: 100%;
  }
  
  .menu-link:hover {
    transform: scale(1.05); 
  }
  
  
  .fade-in {
    animation: fadeIn 1s ease-in;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }